<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <remove name="DataBase"/>
    <add name="DataBase" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="form_Auth" path="/" loginUrl="users/login.aspx" protection="All" timeout="10"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="users">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>